*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  /* colors */

  /* grey */
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  /* fonts  */
  --headingFont: "Roboto", sans-serif;
  --bodyFont: "Nunito", sans-serif;
  --small-text: 0.875rem;
  /* rest of the vars */
  --textColor: var(--grey-800);
  --borderRadius: 0.25rem;
  --transition: 0.3s ease-in-out all;
  --box-color: var(--grey-900);

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background-color: var(--grey-800);
  color: var(--grey-200);
  line-height: 1.75;
  margin: 0;
  padding: 0;
  text-align: center;
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  /* margin-bottom: 1.38rem; */
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  border-radius: 13px;
  border: 1px solid transparent;
  padding: 0.3em 0.5em;
  font-size: 1.3em;
  font-weight: 500;
  font-family: inherit;
  background-color: #363434;
  cursor: pointer;
  /* display: inline-block; */
  transition: border-color 0.3s;
}

.btn:hover {
  border-color: #646cff;
}
/*======================================== end gloval styles */

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container {
  position: absolute;
  /* left: -3%; */
  width: 107%;
  height: 100vh;
  background: url('./assets/bg-night.png');
  background-size: cover;
  z-index: 1;
  background-position: 36%;
}


.container #scene .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.layer img {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  /* height: 30%; */
  object-fit: cover;
  background-position: 50%;
}

.moon img{
  z-index: 3;
  top: 5%;
}

.clif {
  z-index: 4;
}

.mid {
  z-index: 2;
}

.front {
  z-index: 3;
  margin-left: 8px;
}

/* cards box/container */
.drag-area {
  width: 105vw;
  height: 105vh;
  position: relative;
}

#cards-box {
  position: absolute;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  z-index: 5;
  width: 300px;
  height: 280px;
  box-shadow: var(--shadow-3);
  transition: 0.3s ease-in-out width;
  display: grid;
  grid-template-rows: 30px auto;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#cards-box.active {
  max-width: 710px;
  /* margin: 0 40px; */
  max-height: 800px;
  width: auto;
  width: 70%;
  height: auto;
  padding: 0;
  padding-bottom: 30px;
  gap: 10px;
}  

/* mobile screen */
@media screen and (max-width:600px) {
  #cards-box.active {
    max-width: 90%;
    max-height: 80%;
    width: auto;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
  }  
}

.snow-cap {
  position: absolute;
  top: -3px;
  left: -5px;
  width: 100px;
  height: 100px;
  background: url('./assets/snow-cap2.png');
  background-size: cover;
}

.title {
  z-index: 10;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.title-img {
  width: 100%;
  max-width: 450px;
}
/* menu */
.menu {
  z-index: 10;
}

.menu button {
  margin: 0 5px;
}

.end-btn {
  position: absolute;
  right: 5px;
  top: 8px;
}

.level-selected-text {
  font-size: 1rem;
  margin-top: 3px;
}

.cards {
  height: 110px;
  width: 180px;
  transition: var(--transition);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards.active {
  height: 100%;
  width: 100%;
}

/* card-display area */
.card-display {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  gap: 5px 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

.card-display aside {
  width: 70px;
  height: 50px;
  transform-style: preserve-3d;
  transition: var(--transition);
}

aside.active {
  transform: rotateY(180deg)
}
.card-display aside.match {
  filter: blur(.5px);
}

.card-display .front {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  background-color: rgb(17, 17, 24);
  background-image: url(/images/logo.png);
  background-position: center;
  background-size: 170%;
  border: 1px solid rgba(77, 58, 58, 0.5);
  cursor: pointer;
  margin: auto;
}


.card-display .front:hover {
  animation: cardShake .3s;
}

.card-display .back  {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  background-color: rgb(70, 70, 83);
  background-position: center;
  background-size: cover;
  border: 1px solid rgba(77, 58, 58, 0.5);
  transform: rotateY(180deg);
  cursor: pointer;
}

@media screen and (min-width:600px) {
  .card-display aside {
    width: 90px;
    height: 70px;
  }
}

@media screen and (min-width:1000px) {
  .card-display aside {
    width: 100px;
    height: 80px;
  }
}

@keyframes cardShake {
  0%   {transform: rotate(2deg);}
  20%  {transform: rotate(0deg);}
  40% {transform: rotate(-2deg);}
  60%  {transform: rotate(0deg);}
  80%   {transform: rotate(2deg);}
}

/* intro card display */
.intro-img-container {
  position: relative;
  height: 110px;
  width: 180px;
  border-radius: 10px;
}

.intro-img { 
  position: absolute;
  display: flex;
  justify-content: center;
  height: 110px;
  width: 180px;
  transform-style: preserve-3d;
  transition: var(--transition);
  animation: introCard 5s linear infinite;
}

.intro-img .front {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  background-color: rgb(17, 17, 24);
  background-image: url(/images/logo.png);
  background-position: center;
  background-size: cover;
  border: 1px solid rgba(77, 58, 58, 0.5);
}

.intro-img .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  background-color: rgb(70, 70, 83);
  background-image: url(/images/logo.png);
  background-position: center;
  background-size: cover;
  border: 1px solid rgba(77, 58, 58, 0.5);
  transform: rotateY(180deg);
}

@keyframes introCard {
  0%   {transform: rotateY(0deg);}
  20%  {transform: rotateY(0deg);}
  40% {transform: rotateY(180deg);}
  60%  {transform: rotateY(0deg);}
  80%   {transform: rotateY(0deg);}
}

/* level select area */
.level-container {
  visibility: hidden;
  position: absolute;
  padding: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  gap: 4px;
}

.level-container.active {
  visibility: visible;
}

.level-row {
  display: flex;
  gap: 70px;
  border-bottom: 1px rgba(90, 86, 86, 0.4) solid;
  border-top: 1px rgba(90, 86, 86, 0.2) solid;
  box-shadow: var(--shadow-3);
}

.level-row span {
 margin-left: -40px;
 font-size: .85rem;
 color: #5e7da8;
}

.level-btn {
  transform: rotate(90deg);
  font-size: .9rem;
  padding: 9px;
  color:#c5c5c5;
}

/* game stats */
.stats-area {
  visibility: collapse;
  height: 30px;
  width: 160px;
  position: absolute;
  left: 10px;
  bottom: -30px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 5;
  transition: var(--transition);
}

.stats-area.active {
  visibility: visible;
}

/* toggle box */
#toggle-box {
  position: absolute;
  display: flex;
  gap: 25px;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  padding: 8px 25px;
  background-color: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  box-shadow: var(--shadow-3);
}

.snow-icon, .day-icon {
  filter: blur(.5px);
  margin-top: 3px;
  transition: transform 1.4s ease-out;
  font-size: 1.7rem;
}

.toggle-btn:hover .snow-icon, .toggle-btn:hover .day-icon {
  transform: rotate(320deg);
}

.toggle-btn {
  box-shadow: var(--shadow-4);
  border: solid #2e444b 2px;
  box-shadow: 0px 0px 6px #666363;
  background: #b3b3b3;
  background-image: linear-gradient(to bottom, #9b9999, #19242b);
}

.toggle-btn:active {
  background-image: linear-gradient(to bottom, #808080, #131c22);
}

.toggle-btn:hover {
transform: translateY(-1px)
}

@media screen and (max-width:600px) {
  #toggle-box {
    gap: 20px;
    padding: 6px 20px;
  }
  
  .snow-icon, .day-icon {
    font-size: 1.3rem;
  }
}
